.header h3 {
  font: 20px Myriad Pro;
  text-transform: uppercase;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.75);
}

.header p {
  font: 11px Myriad Pro;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.header .container {
  max-width: 940px;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .header .container {
    padding: 0px 5px;
  }
}

.header .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .header .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .container .content .logo {
  margin: 10px 0px;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  padding: 5px 0px 10px 50px;
}

@media screen and (max-width: 425px) {
  .header .container .content .logo {
    margin: auto;
  }
}

.header .container .content .rightsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  padding: 5px 0px 10px 0px;
}

@media screen and (max-width: 425px) {
  .header .container .content .rightsection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .container .content .rightsection .number {
  margin: 0px 20px;
  text-align: right;
}

@media screen and (max-width: 425px) {
  .header .container .content .rightsection .number {
    margin: auto;
  }
}

.header .container .content .rightsection .button {
  margin: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 36px;
  border: 2px solid #000000a1;
}

@media screen and (max-width: 425px) {
  .header .container .content .rightsection .button {
    margin: auto;
    margin-top: 25px;
  }
}

.header .header__button {
  font: 11px Myriad Pro;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  cursor: auto;
}

.menu {
  position: relative;
  margin: 0px 0px -32px 0px;
}

@media screen and (max-width: 425px) {
  .menu {
    margin: 0px 0px 0px 0px;
  }
}

.menu p {
  font: 16px Myriad Pro;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.menu .container {
  max-width: 940px;
  margin: auto;
  background-color: #ffcc00;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 425px) {
  .menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu .menu__element {
  width: 17%;
  padding: 23px 0px;
  text-align: center;
}

.menu .menu__element:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 425px) {
  .menu .menu__element {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
}

.firstsection {
  height: 550px;
  background-image: url("/img/firstsection.png");
}

@media screen and (max-width: 425px) {
  .firstsection {
    height: 400px;
  }
}

.firstsection h3 {
  text-transform: uppercase;
  font: 28px Myriad Pro, sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 48px;
}

.firstsection p {
  font: 15px Myriad Pro, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  width: 240px;
  margin-bottom: 50px;
}

.firstsection .button {
  height: 50px;
  padding: 0px 5px;
  width: 200px;
  background-color: #ffcc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstsection .button:hover {
  background-color: #ffffff;
}

.firstsection .button a {
  font: 12px Myriad Pro, sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.9);
  cursor: auto;
}

.firstsection .firstsection__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstsection .container {
  height: 550px;
  max-width: 940px;
  margin: auto;
}

@media screen and (max-width: 425px) {
  .firstsection .container {
    height: 400px;
    margin: 0px 5px 0px 5px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 940px) {
  .firstsection .container {
    padding: 0px 5px;
  }
}

.firstsection .firstsection__block {
  position: relative;
  top: 40%;
}

@media screen and (max-width: 425px) {
  .firstsection .firstsection__block {
    top: 20%;
  }
}

.firstsection .firstsection__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstsection .firstsection__text p {
  margin: 0px 0px 0px 20px;
}

.firstsection .firstsection__text a {
  margin-left: 10px;
  color: white;
  text-decoration: underline;
  height: 50px;
  width: 200px;
}

.alwaysavailable .container {
  max-width: 940px;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .alwaysavailable .container {
    padding: 0px 5px;
  }
}

.alwaysavailable h3 {
  margin: 80px 0px;
  text-align: center;
  text-transform: uppercase;
  font: 22px Myriad Pro, sans-serif;
  font-weight: 700;
  color: black;
}

.alwaysavailable .alwaysavailable__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 725px) {
  .alwaysavailable .alwaysavailable__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.alwaysavailable .alwaysavailable__card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  border: 2px solid #ccc;
  padding: 30px 0px;
}

@media screen and (max-width: 725px) {
  .alwaysavailable .alwaysavailable__card {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
}

.alwaysavailable .alwaysavailable__card h4 {
  margin: 30px 0px 15px 0px;
  font: 18px Myriad Pro, sans-serif;
  font-weight: 600;
  color: black;
}

.alwaysavailable .alwaysavailable__card p {
  font: 15px Myriad Pro, sans-serif;
  font-weight: 300;
  color: rgba(108, 108, 108, 0.9);
}

.alwaysavailable .alwaysavailable__card .alwaysavailable__price {
  margin: 15px 0px 15px 0px;
  font: 18px Myriad Pro, sans-serif;
  font-weight: 600;
  color: black;
}

.alwaysavailable .alwaysavailable__card .button {
  font: 14px Myriad Pro, sans-serif;
  font-weight: 800;
  margin: auto;
  height: 50px;
  width: 200px;
  background-color: #ffcc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alwaysavailable .alwaysavailable__card .button:hover {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ffcc00;
}

.advantages {
  background-color: #f4f4f4;
  margin-top: 80px;
}

@media screen and (min-width: 725px) {
  .advantages {
    padding-bottom: 80px;
  }
}

.advantages .container {
  max-width: 940px;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .advantages .container {
    padding: 0px 5px;
  }
}

.advantages h3 {
  margin-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font: 22px Myriad Pro, sans-serif;
  font-weight: 700;
  color: black;
}

.advantages .advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 725px) {
  .advantages .advantages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages .advantages__card {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  border: 2px solid #fff;
  padding: 30px 0px;
}

@media screen and (max-width: 725px) {
  .advantages .advantages__card {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
}

.advantages .advantages__card:hover {
  background-color: #fff;
}

.advantages .advantages__card h4 {
  margin: 30px 0px 15px 0px;
  font: 18px Myriad Pro, sans-serif;
  font-weight: 600;
  color: black;
}

.advantages .advantages__card p {
  font: 15px Myriad Pro, sans-serif;
  font-weight: 300;
  color: rgba(108, 108, 108, 0.9);
}

.popular {
  margin-bottom: 50px;
}

.popular .container {
  max-width: 940px;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .popular .container {
    padding: 0px 5px;
  }
}

.popular h3 {
  margin: 80px 0px;
  text-align: center;
  text-transform: uppercase;
  font: 22px Myriad Pro, sans-serif;
  font-weight: 700;
  color: black;
}

.popular .popular__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 725px) {
  .popular .popular__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.popular .popular__card {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  text-align: center;
  border: 2px solid #ccc;
  padding: 15px 0px 15px 0px;
}

@media screen and (max-width: 725px) {
  .popular .popular__card {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 50px;
  }
}

.popular .popular__card img {
  width: 100%;
  height: auto;
  max-width: 180px;
  margin-bottom: 5px;
}

.popular .popular__card h4 {
  margin: 30px 0px 15px 0px;
  font: 18px Myriad Pro, sans-serif;
  font-weight: 600;
  color: black;
}

.popular .popular__card p {
  font: 15px Myriad Pro, sans-serif;
  font-weight: 300;
  color: rgba(108, 108, 108, 0.9);
}

.popular .popular__card .popular__price {
  margin: 15px 0px 15px 0px;
  font: 18px Myriad Pro, sans-serif;
  font-weight: 600;
  color: black;
}

.popular .popular__card .button {
  font: 14px Myriad Pro, sans-serif;
  font-weight: 800;
  padding: 1em 4em;
  background-color: #ffcc00;
  display: inline-block;
  border: 1px solid;
  border-color: #ffcc00;
}

.popular .popular__card .button:hover {
  background-color: #ffffff;
}

.services {
  background-color: #f4f4f4;
  margin-top: 80px;
}

@media screen and (min-width: 725px) {
  .services {
    padding-bottom: 80px;
  }
}

.services .container {
  max-width: 940px;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .services .container {
    padding: 0px 5px;
  }
}

.services h3 {
  margin-bottom: 80px;
  padding-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font: 22px Myriad Pro, sans-serif;
  font-weight: 700;
  color: black;
}

.services .services__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 725px) {
  .services .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services .services__leftbutton {
  font: 80px Myriad Pro, sans-serif;
  position: absolute;
  left: 0%;
  top: 45%;
  color: #ccccccad;
}

.services .services__leftbutton img {
  max-width: 100px;
  width: auto;
  opacity: 50%;
}

.services .services__rightbutton {
  font: 80px Myriad Pro, sans-serif;
  position: absolute;
  right: 0%;
  top: 45%;
  color: #ccccccad;
}

.services .services__rightbutton img {
  max-width: 100px;
  width: auto;
  opacity: 50%;
}

.services .services__card {
  display: none;
  text-align: center;
  padding: 30px 0px;
}

@media screen and (max-width: 725px) {
  .services .services__card {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
}

.services .services__card img {
  max-width: 700px;
  max-height: 450px;
  width: 100%;
}

.services .services__card h4 {
  margin: 30px 0px 15px 0px;
  font: 18px Myriad Pro, sans-serif;
  font-weight: 600;
  color: black;
}

.services .services__card p {
  font: 15px Myriad Pro, sans-serif;
  font-weight: 300;
  color: rgba(108, 108, 108, 0.9);
}

.services .services__active {
  display: block;
}

.map {
  background-image: url("/img/map.png");
}

.map .container {
  height: 520px;
  max-width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .map__block {
  background-color: white;
  height: 80%;
}
/*# sourceMappingURL=main.css.map */